<p>
    ¿Quiénes somos? Anica Soluciones Integrales, es una pequeña empresa,
    inscrita como PYMES ante las instancias de gobierno, con seis años en el
    mercado nacional lo que nos proporciona experiencia en los tipos de
    materiales, medidas, diseños y todo aquello que pueda dar respuesta a las
    necesidades de nuestros clientes, tenemos como finalidad la producción de
    medios publicitarios (Material POP), mueblería de exhibición y para el
    hogar, así como materiales promocionales tales como sublimados, impresión y
    corte láser, diseños gráficos originales, también les ofrecemos el servicio
    de diseño y creación de programas empresariales (páginas web, manejo de
    redes sociales, programas específicos para cada empresa tales como;
    contables, manejo de inventarios, facturación, manejo de personal –
    asistencia, planillas, vacaciones – todos nuestros servicios están enfocados
    en el bienestar de nuestros clientes.
</p>
