---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/sections/Services.astro";
import Institucional from "../components/sections/Institucional.astro";
import { getPageInfo, getSiteInfo } from "../services/wp";

// const siteInfo = await getSiteInfo();
// console.log("informacion del sitio", siteInfo);
// const { title, content } = await getPageInfo("sample-page");
---

<DefaultLayout>
  <Header />
  <Hero />
  <Services />
  <Institucional />
  <!-- <span>{siteInfo?.site?.name}</span> -->
</DefaultLayout>

<script>
  import { getSiteInfo } from "../services/wp";
  const siteInfo = await getSiteInfo();
  console.log("informacion del sitio", siteInfo);
</script>
